# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
# testing
/coverage
# next.js
/.next/
/out/
# production
/build
# misc
.DS_Store
*.pem
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# local env files
.env*.local
# vercel
.vercel
.history
# typescript
*.tsbuildinfo
next-env.d.ts
package-lock.json
yarn.lock
.idea
node_modules
/V3~express-crash-course-with-postman-testing/node_modules
*.lock
/V3~express-crash-course-with-postman-testing/yarn.lock
/V3~express-crash-course-with-postman-testing/*.lock

/V5~advance-logging-with-morgan-and-winston/*.lock
/V5~advance-logging-with-morgan-and-winston/node_modules
/V5~advance-logging-with-morgan-and-winston/*.log
